.btnWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}