@mixin general {
  display: flex;
  align-items: center;
  color: #070707;
}

@mixin fonts($weight,$size,$lineHeight) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
}

.title {
  @include fonts(600, 17px, 22px);
  @include general;
  margin-bottom: 28px;
}

.defaultText {
  @include fonts(400, 14px, 18px);
  @include general;
}

.green {
  @include fonts(600, 17px, 22px);
  @include general;
  margin-bottom: 16px;
  color: #1CCC5B;
}